
#nav {
    justify-content: center;
}

/*name styling */
#name {
    text-align: center;
}

/* styling of jumbotron */
.jumbotron {
    margin: 0 1em;
    padding: 0;
    background-color: rgba(179, 213, 255, 1);
    
}
/* profile photo styling to keep it small */
.profile-photo {
    border-radius: 100%;
    max-width: 150px;
    min-width: 150px;
    padding: 15px;
}

#cell {
    padding-bottom: 5px;
}


/* styling links */
a {
    color: lightblue;
    margin: 0 auto;
}
a:hover {
    list-style-type: none;
    color: white;
}
/*styling about section*/
.about-wrapper {
    margin-left: 1.25em;
}

li {
    list-style-type: none;
}
/*-----------------------------------------cards styling------------------------------------------*/
.card {
    background-color: rgba(179, 213, 255, .5);
    margin: 0 auto;
}
.card-title {
    text-align: center;
}
.cards-list {
    text-align: center;
}

.descrip-holder {
    width: 290px;
    height: 190px;
    padding: 1em;
}

.xp-link, .card-link    {
    display: block;
    text-align: center;
    background-color: rgba(170, 213, 255, .9);
    color: black;
    border: 1px solid black;
    padding: 10px;
    margin: 21px 0;
    border-radius: 5px;

}

@media only screen and (max-width: 840px) {

    .btn {
        width: 277.5px;
        display: flex;
        margin: 5px auto;
        padding: 5px 0;
        text-align: center;

    }
    .profile-photo {
        margin: 0 auto;
        display: block;
        padding: 10px;
        max-width: 400px;
        max-height: 400px
    }
    .about-wrapper {
        text-align: center;
    }
    .contact-info {
        margin: 0 auto;
    }
    #cell {
        width: 110px;
        margin: 0 auto;
    }
    li {
        list-style-type: none;
        text-align: center;
    }
    .card {
        margin: 10px auto;
    }
  }