/* styling of skills */
#language-list {
    width: 25%;
    float: right;
    text-align: center;
    margin-top: -5em;
}

@media only screen and (max-width: 840px) {
  #skills {
    display: none;
  }
}
